.navbar{
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0.9;
}

.navbar-nav{
    display: flex;
    max-width: 1200px;
    height: 100%;
    align-items: center;
    margin: 0 auto;
}

.navbar-nav-toggle{
    background-color: transparent;
}

.navbar-nav-list {
    display: flex;
    background-color: rgba(10,10,10,0.7);
    border-radius: 20px;
    margin: 0 auto;
    padding: 0 2rem;
}

.navbar-nav-list.show-toggled{
    background-color: #101010;
    flex-direction: column;
    gap: 5rem;
    font-size: 30px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    transition: all 0.3s;
    transform: translate(0,0);
    opacity: 1;
}

.navbar-nav-list.no-show-toggled{
    transition: all 1s;
    background-color: #101010;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    transform: translateY(-100%);
    opacity: 0;
}

.navbar-nav-list-item{
    margin: 0 20px;
}

.navbar-nav-list-item a{
    color: #fff;
    font-weight: 500;
    opacity: 0.9;
    transition: 0.2s;
}

.navbar-nav-list-item a:hover{
    opacity: 1;
    color: #f55;
}

.navbar-nav-toggle{
    display: none;
}

@media (max-width: 500px){
    .navbar-nav-toggle{
        display: block;
    }
}